modules = ["python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run All Services"

[[workflows.workflow]]
name = "Run All Services"
author = 41140241
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_scenario2.py"

[[ports]]
localPort = 5000
externalPort = 80
